<h2>Esqueceu sua senha?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, :class => "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Envie-me instruções redefinir senhas", :class => "btn btn-default btn-block" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
