<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="MEOAPP - Sistemas e aplicativos">
  <meta name="robots" content="noindex, nofollow" />
  <meta name="googlebot" content="noindex, nofollow" />
  <title>TheSocialNetwork</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">TheSocialNetwork</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="<%= network_users_path %>">Paginal Inicial</a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="<%= network_user_path(current_user) %>">Perfil</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fabian Carlos <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="<%= network_user_path(current_user) %>">Perfil</a></li>
            <li role="separator" class="divider"></li>
            <li>
              <%= link_to "Sair", destroy_user_session_path, :method => :delete %>
            </li>
          </ul>
        </li>
      </ul>

      <form class="navbar-form" role="search">
        <div class="form-group" style="display:inline;">
          <div class="input-group" style="display:table;">
            <span class="input-group-addon" style="width: 1%;"><span class="fa fa-search"></span></span>
            <input type="text" class="form-control" placeholder="Pesquisar">
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>

<div class="container">
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

	<%= yield %>
</div>

</body>
</html>
